<?xml version="1.0" encoding="utf-8" ?> 
<menu  
    xmlns:android="http://schemas.android.com/apk/res/android"  
    xmlns:local="http://schemas.android.com/apk/res-auto"
    xmlns:app="http://schemas.android.com/apk/res-auto">
  <item
    android:id="@+id/iconHamburger"
    android:icon="@drawable/round_dehaze_white_18pd"
    app:showAsAction="ifRoom|withText"
    android:title="Other">
    <menu>  
        <item  
          android:icon="@drawable/round_home_white_18dp"
          android:id="@+id/nav_home"  
          android:title="Home" />  
        <item  
          android:icon="@drawable/round_add_cirlce_white_18dp"
          android:id="@+id/nav_sample"  
          android:title="Submit Sample" />
        <item 
          android:icon="@drawable/round_info_white_18dp"
          android:id="@+id/nav_information"  
          android:title="Information" /> 
        <item  
          android:icon="@drawable/round_public_white_18dp"
          android:id="@+id/nav_about"  
          android:title="About Us" />  
        <item  
          android:icon="@drawable/round_chat_white_18dp"
          android:id="@+id/nav_contact"  
          android:title="Contact Us" /> 
        <item  
          android:icon="@drawable/round_keyboard_backspace_white_18dp"
          android:id="@+id/nav_logout"  
          android:title="Logout" /> 
    </menu> 
  </item>
</menu>